In [9]:
import numpy as np
import pandas as pd
import difflib #for close match 
from sklearn.feature_extraction.text import TfidfVectorizer #transforing the textual data to numerical data 
from sklearn.metrics.pairwise import cosine_similarity #for close match similarity score

In [10]:
#Data collection and preprocessing

#importing the data from csv file to a pandas dataframe

movies_data = pd.read_csv("movies.csv")
movies_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [11]:
 movies_data.shape

(4803, 24)

In [12]:
#Selecting the relevant features for recommendation 
selected_features = ['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [13]:
#replacing the null values with null string 
for feature in selected_features: 
    movies_data[feature]=movies_data[feature].fillna('')

In [14]:
#combining all the 5 selected features 
combined_features = movies_data['genres']+movies_data['keywords']+movies_data['tagline']+movies_data['cast']+movies_data['director']

In [18]:
#converting the text data to feature vectors 
vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(combined_features)

In [19]:

print(feature_vectors)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 111820 stored elements and shape (4803, 27580)>
  Coords	Values
  (0, 245)	0.07858581760804864
  (0, 444)	0.09109355212252296
  (0, 8936)	0.11806131645084655
  (0, 21836)	0.09966592997173947
  (0, 9304)	0.27385789694599244
  (0, 4456)	0.2179967521551067
  (0, 10193)	0.1653243242081299
  (0, 22916)	0.3366875640692919
  (0, 26334)	0.130597230719163
  (0, 4676)	0.24529097704249617
  (0, 22778)	0.27385789694599244
  (0, 24197)	0.07518543993419267
  (0, 27161)	0.12619886579371511
  (0, 18164)	0.08690831799482268
  (0, 18558)	0.26121683351048536
  (0, 21521)	0.15623566659433683
  (0, 27182)	0.23480088356130557
  (0, 27540)	0.19771357974524179
  (0, 21487)	0.21550128478931552
  (0, 22464)	0.2020708956871175
  (0, 26547)	0.19638671147741735
  (0, 23267)	0.16128139780622522
  (0, 14550)	0.22368093636480682
  (0, 16614)	0.1569607387745327
  (0, 20729)	0.27385789694599244
  :	:
  (4801, 18790)	0.22450140828104795
  (4801, 11776)	0.3005604008026175
  (4801, 758)	0.19369913462690624
  (4801, 8121)	0.2611505149930138
  (4801, 27513)	0.3005604008026175
  (4801, 27361)	0.31510541707008866
  (4801, 22170)	0.31510541707008866
  (4801, 5449)	0.31510541707008866
  (4801, 21297)	0.31510541707008866
  (4801, 22322)	0.31510541707008866
  (4801, 12520)	0.31510541707008866
  (4802, 7626)	0.17686850692938538
  (4802, 3128)	0.17288424030654004
  (4802, 8313)	0.1713172199751922
  (4802, 5354)	0.2196244946235084
  (4802, 2027)	0.19514642661077047
  (4802, 20664)	0.1718311116708895
  (4802, 11042)	0.2245754361399493
  (4802, 5847)	0.2598601666162226
  (4802, 9174)	0.23381507827213685
  (4802, 3569)	0.2526933433912742
  (4802, 6978)	0.28212235292045307
  (4802, 10640)	0.28212235292045307
  (4802, 11874)	0.5642447058409061
  (4802, 7770)	0.28212235292045307

In [20]:
#Cosine Similarity 
#Getting the similarity score from cosine similiarty 
similarity = cosine_similarity(feature_vectors)

In [21]:
print(similarity)

[[1.         0.06865296 0.01492221 ... 0.         0.         0.        ]
 [0.06865296 1.         0.02799128 ... 0.01243107 0.         0.        ]
 [0.01492221 0.02799128 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.01243107 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [22]:
similarity.shape

(4803, 4803)

In [24]:
#getting the movie name from the user 
movie_name = input('Enter your favourite movie name : ')

Enter your favourite movie name :  Iron Man

In [25]:
#creating a list with all the movie names given in the set 

list_of_all_titles = movies_data['title'].tolist()

In [26]:
#Finding the close match for the movie name given by the user 
find_close_match = difflib.get_close_matches(movie_name,list_of_all_titles)
print(find_close_match)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [27]:
close_match = find_close_match[0]
print(close_match)

Iron Man

In [32]:
#finding the index of the movies with title 
index_of_movie = movies_data[movies_data.title == close_match]['index'].values[0]
print(index_of_movie)

68

In [39]:
#getting a list of similar movies 

similarity_score = list(enumerate(similarity[index_of_movie]))
#print(similarity_score)

In [36]:
len(similarity_score)

4803

In [40]:
#sorting the movies based on their ssimilarity_score

sorted_similar_movies = sorted(similarity_score,key=lambda x:x[1],reverse=1)
#print(sorted_similar_movies)

In [38]:
#print the name of similar movies based on similarity 
print('Movies Suggested for you: \n')
i = 1
for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index=movies_data[movies_data.index==index]['title'].values[0]
    if (i<30): 
        print(i, '.' ,title_from_index)
        i+=1

Movies Suggested for you:

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . The Avengers
5 . Captain America: Civil War
6 . The Helix... Loaded
7 . Avengers: Age of Ultron
8 . X-Men: The Last Stand
9 . X-Men: Days of Future Past
10 . X-Men
11 . X2
12 . Made
13 . Tropic Thunder
14 . The Incredible Hulk
15 . X-Men: Apocalypse
16 . The Amazing Spider-Man 2
17 . Captain America: The Winter Soldier
18 . Gothika
19 . X-Men: First Class
20 . A Scanner Darkly
21 . The Judge
22 . Deadpool
23 . The Best Man
24 . The Nativity Story
25 . Lucky You
26 . The Kite Runner
27 . Arlington Road
28 . Ant-Man
29 . The Hunting Party

In [45]:
#movie recommendation  system 
movie_name = input('Enter your favourite movie name : ')
list_of_all_titles = movies_data['title'].tolist()
find_close_match = difflib.get_close_matches(movie_name,list_of_all_titles)
close_match = find_close_match[0]
index_of_movie = movies_data[movies_data.title == close_match]['index'].values[0]
similarity_score = list(enumerate(similarity[index_of_movie]))
sorted_similar_movies = sorted(similarity_score,key=lambda x:x[1],reverse=1)
print('Movies Suggested for you: \n')
i = 1
for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index=movies_data[movies_data.index==index]['title'].values[0]
    if (i<30): 
        print(i, '.' ,title_from_index)
        i+=1

Enter your favourite movie name :  Titanic

Movies Suggested for you:

1 . Titanic
2 . The Dilemma
3 . Revolutionary Road
4 . Heavenly Creatures
5 . Flushed Away
6 . Gangs of New York
7 . Sense and Sensibility
8 . The Great Gatsby
9 . The Brothers Bloom
10 . Shutter Island
11 . The Beach
12 . Body of Lies
13 . Ladyhawke
14 . The Believer
15 . The Aviator
16 . The Wolf of Wall Street
17 . J. Edgar
18 . Iris
19 . The Departed
20 . Dear John
21 . Almost Famous
22 . The Phantom
23 . Eternal Sunshine of the Spotless Mind
24 . Blue Car
25 . The Revenant
26 . Stuck on You
27 . Blood Diamond
28 . She's the One
29 . What's Eating Gilbert Grape